/* START - GENERAL STYLING */

/*set default font size: 16px eq 1rem*/
html{
  font-size: 16px;
}
/*show y-scrollbar: prevent "jump effect"*/
body{
  overflow-y:scroll;
  color: grey;
  font-family: 'Buda', cursive;
  margin: 0;
  padding: 0;
}
.header_bg{
  height: 100vh;
  background-image: url('../img/beer_bg.gif'); /*Cred: http://giphy.com/gifs/beer-cinemagraph-92wsX8GEoNTYA*/
  background-position: center;
  background-size: cover;
}
.header_bg > span{
  position: relative;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
  font-size: 4rem;
  color: white;
  cursor: pointer;
  transition: color 2s ease;
}
.header_bg > span:hover{
  color: #ffcc00;
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  border-radius: 0;
  border: 0;
  padding-top: 1rem;
  font-size: 2rem;
  background-color: black;
  z-index: 9999;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand,
.navbar-toggle{
  color: white;
  transition: color 2s ease;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color: #ffcc00;
  text-decoration: underline;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: black;
}
.navbar-toggle{
  padding: .3rem;
  font-size: 1rem;

}


/* START - breweryAPIobj PROGRESS IMAGE */
#progress{
  display: block;
  margin: 0 auto;
  height: 8rem;
}

/* START - SECTION H2 STYLING */

section h2{
  font-size: 4rem;
  text-align: center;
}
section h4{
  text-align: center;
}
section h5{
  text-align: center;
}
.thumbnail{
  position: relative;
}
.thumbnail img:hover + span{
  opacity:1;
}
.thumbnail > span{
  opacity:0;
  position: absolute;
  bottom:0;
  left: 0;
  padding: 1rem 0;
  text-align: center;
  background-color: black;
  background-color: black;
  color: #ffcc00;
  width: 100%;
  transition: all 2s ease .25s;
}
.thumbnail > span:hover{
  opacity:1;
}


/* START - BLOCKQUOTE SEPARATOR STYLING */

blockquote {
  background-color: black;
  opacity: .9;
  margin: 3rem;
  color: #ccc;
  quotes: "\201C""\201D""\2018""\2019";
  min-height: 350px;
}
blockquote:before {
  color: #ffcc00;
  content: open-quote;
  font-size: 4rem;
  margin-right: 0.25rem;
  vertical-align: 1rem;
}
blockquote:after {
  color: #ffcc00;
  content: close-quote;
  font-size: 4rem;
  margin-right: 0.25rem;
  vertical-align: -1rem;
}
blockquote p {
  display: inline-block;
}
blockquote footer {
  color: #ffcc00;
}





/* START - FORMS STYLING */


.form-control {
  height: 4rem;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: .2rem solid transparent;
}
.form-group{
  margin-top: 4rem;
}
label{
  padding-left: .8rem;
  font-size: 1rem;
  cursor: pointer;
}
label:hover + input,
label:hover + textarea{
  border: .2rem solid #ffcc00;
  transition: border 2s;
}
.form-group input[type="email"]:hover,
.form-group textarea:hover{
  border-left: .5rem solid #ffcc00;
  border-right:.5rem solid #ffcc00;
}

.form-group input[type="email"],
.form-group textarea{
  background-image: url("../img/beer.png");
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  text-indent: 4rem;
  border-bottom: .2rem solid #ffcc00;
}
.form-group input:focus,
.form-group textarea:focus{
  color: white;
  background: none;
  text-indent: 0;
}
.form-group ::-webkit-input-placeholder{
  color: black;
}
.form-group textarea{
  height: 10rem;
  resize: vertical;
}
.form-group .alert{
  font-size: .8rem;
  text-decoration: underline;
  color: #a94442;
  cursor: default;
}
.form-group input:focus:invalid,
.form-group textarea:focus:invalid{
  background-color: black;
  color: red;
}
.form-group input:focus:valid,
.form-group textarea:focus:valid{
  background-color: black;
  color: green;
}

label > span{
  opacity: 0;
  transition: all 2s ease .25s;
}
label:hover > span,
label:focus > span{
  opacity: 1;
}

.footerLast{
  min-height: 150px;
  background-color: black;
  color: white;
  margin-top:2rem;
  padding-top: 2rem;
}
.footerLast p > a {
  color: #ffcc00;
}


/* START - GLASS STYLING */

/*
  1. Image covers the entire screen height (~90vh)
  2. Custom image slider
*/
.glassContainer{
  position: relative;
  height: 90vh;
}
.glassContainer > img.on{
  height: inherit;
  display: block;
  margin: 0 auto;
}
.glassContainer > span:not(.info){
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  opacity: .5;
  transition: all 2s ease .25s;
}
.glassContainer > span:not(.info):hover{
  opacity: 1;
  text-decoration: underline;
}
.glassContainer > span.glyphicon-arrow-left{
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  display: none;
}
.glassContainer > span.glyphicon-arrow-right{
  top: 50%;
  left: 95%;
  transform: translate(-95%, -50%);
}
.glassContainer > span.info{
  position: absolute;
  font-size: 1rem;
  width: 100%;
  bottom:0;
  left: 0;
  padding: 1rem 0;
  text-align: center;
  color: #ffcc00;
  background-color: black;

  opacity: 0;
  transition: all 2s ease .25s;
}
.glassContainer > span.info:first-letter {
  text-transform: uppercase;
}

.glassContainer > img.on:hover ~ span.info{
  opacity: 1;
}

@media screen and (max-width: 520px){
  .glassContainer > img.on{
    width: 100%;
  }
}

/* START - BEERONALITY STYLING */
#beeronality{
  background-color: black;
  color: white;
  padding: 2rem;
  height: auto;
}
#beeronality form > div label{
  width: 100%;
  font-size: 2rem;

}
#beeronality form > div input[type="radio"]{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
#beeronality form > div input[type="radio"] + div{
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffcc00;
}
/* question end start*/
#beeronality > div{
  color: #ffcc00;
}


/* loader ajax modal */
#myModalLoader {
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}























